.createRoomBtn{
  display: flex;
  flex-direction: column;
}
.createRoomBtn > input{
  text-align: center;
  border: 0;
  height: 30px;
}
.createRoomBtn > input:focus-visible{
  outline: none;
}