.background{
  width: 100%;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: rgb(11,0,190);
  background: linear-gradient(90deg, 
            rgba(11,0,190,1) 0%, 
            rgba(17,0,255,1) 48%, 
            rgba(255,255,255,1) 50%, 
            rgba(255,0,0,1) 52%, 
            rgba(190,0,0,1) 100%);
}

.background > button{
  width: 100px;
  height: 20px;
  margin: 0 auto;
}
.background > button:hover{
  cursor: pointer;
}