.joinRoomBtn{
  display: flex;
  flex-direction: column;
}

.joinRoomBtn > input{
  text-align: center;
  border: 0;
  height: 30px;
  border-top-left-radius: 30px;
}
.joinRoomBtn > button{
  border-bottom-right-radius: 30px;
  border: none;
}

.joinRoomBtn > input:focus-visible{
  outline: none;
}