.joinRoomBtn{
  display: flex;
  flex-direction: column;
}

.joinRoomBtn > input{
  text-align: center;
  border: 0;
  height: 30px;
}

.joinRoomBtn > input:focus-visible{
  outline: none;
}